<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <title>Librarian Portal</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">LIbrarian Interface</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="btn btn-outline-success" type="submit" href="/logoutlib"
          >Logout</a
        >
      </div>

    </nav>
    <h2 class="m-4" style="text-align: center">Issue Requests</h2>
    {% for issue in issues %}
    <div class="m-3">
      <h6 class="m-2 mb-6">
        {{issue.user.username}} has requested to borrow {{issue.book.book_name}} for
        {{issue.time}} day/s
      </h6>
      <form method="post" action="">
        {% csrf_token %}
        <input
          id="your_name"
          type="hidden"
          name="time"
          value="{{issue.time}}"
        />
        <input
          id="your_name"
          type="hidden"
          name="book_id"
          value="{{issue.book.id}}"
        />
        <input id="your_name" type="hidden" name="issue_id" value="{{issue.id}}" />
        <button class="btn-primary m-2">Accept Issue</button>
      </form>
      <form method="post" action="">
        {% csrf_token %}
        <input
          id="your_name"
          class="m-2"
          name="reason"
          placeholder="Reason for denial"
        />
        <input
          id="your_name"
          type="hidden"
          name="issue_id"
          value="{{issue.id}}"
        />
        <button class="btn-primary m-2">Deny Issue</button>
      </form>
    </div>
    {% endfor %}
    <h2 class="m-4 mb-0" style="text-align: center">Book Returns</h2>
    {% for returned in returneds %}
      <h6 class="m-4 mb-6">{{returned.user.username}} has returned {{returned.book.name}}</h6>
      <form method="post" action="">
        {% csrf_token %}
        <input
          id="your_name"
          class="m-4"
          name="merit"
          placeholder="Merit Points"
        />
        <input id="your_name" type="hidden" name="issue_id" value="{{returned.id}}" />
        <button class="btn-primary m-2">Merit</button>
      </form>
    </div>
    {% endfor %}
    <h2 class="m-4 mb-0" style="text-align: center">Renewal Requests</h2>
    {% for renew in renews %}
      <h6 class="m-4 mb-6">{{renew.issue.user.username}} wants to book {{renew.issue.book.name}} for {{renew.time}} more days</h6>
      <form method="post" action="">
        {% csrf_token %}
        <input id="your_name" type="hidden" name="timed" value="{{renew.id}}" />
        <input id="your_name" type="hidden" name="accept" value="accept" />
        <button class="btn-primary m-2">Accept</button>
      </form>
      <form method="post" action="">
        {% csrf_token %}
        <input id="your_name" type="hidden" name="timed" value="{{renew.id}}" />
        <input id="your_name" type="hidden" name="decline" value="decline" />
        <button class="btn-primary m-2">Decline</button>
      </form>
    </div>
    {% endfor %}
    <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <p><input type="submit" value="Upload" /></p>
    </form>
    <h2>Add Book</h2>
    <form action='' method='post'>
      {% csrf_token %}
      {{ book_form.as_p }}
      <p><input type="submit" value="Add Book" /></p>
    </form>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>
